{% if '_' in bundle %}
  {% set bundle_parts = bundle|split('_') %}
  {% set bundle_part0 = bundle_parts[0]|capitalize %}
  {% set bundle_part1 = bundle_parts[1]|capitalize %}
  {% set bundle = bundle_part0 ~ bundle_part1 %}
{% else %}
  {% set bundle = bundle|capitalize %}  
{% endif %}

{%
  set classes = [
    'block',
    'block' ~ bundle,
    'block' ~ bundle ~ '--' ~ view_mode,
    'carousel',
    'slide',
    configuration.block_style.animation_option == TRUE and configuration.block_style.animation_trigger == 'on_scroll' ? 'wow' : '',
    configuration.block_style.animation_option == TRUE ? configuration.block_style.animation_type : '',
  ]|remove_empty
%}

{%
  set title_classes = [
    configuration.label_display == FALSE ? 'visually-hidden',
    'block' ~ bundle ~ '--' ~ view_mode ~ '__block-title',
  ]
%}

{% set block_id = 'block' ~ bundle ~ '-' ~ id %}

{%
  set style_vars = [
    configuration.block_style.background_color_select != 'default' and configuration.block_style.background_color_select != 'customColor' ? '--backgroundColor: var(--' ~ configuration.block_style.background_color_select ~ ')',
    configuration.block_style.background_color_select == 'customColor' ? '--backgroundColor: ' ~ configuration.block_style.background_color_custom ~ '80',
    configuration.block_style.text_align != 'default' ? '--textAlign: ' ~ configuration.block_style.text_align : '',
    configuration.block_style.sm_padding_left != 'default' ? '--smPaddingLeft: ' ~ configuration.block_style.sm_padding_left : '',
    configuration.block_style.sm_padding_top != 'default' ? '--smPaddingTop: ' ~ configuration.block_style.sm_padding_top : '',
    configuration.block_style.sm_padding_right != 'default' ? '--smPaddingRight: ' ~ configuration.block_style.sm_padding_right : '',
    configuration.block_style.sm_padding_bottom != 'default' ? '--smPaddingBottom: ' ~ configuration.block_style.sm_padding_bottom : '',
    configuration.block_style.sm_block_align != 'default' ? '--smAlignSelf: ' ~ configuration.block_style.sm_block_align : '',
    configuration.block_style.md_padding_left != 'default' ? '--mdPaddingLeft: ' ~ configuration.block_style.md_padding_left : '',
    configuration.block_style.md_padding_top != 'default' ? '--mdPaddingTop: ' ~ configuration.block_style.md_padding_top : '',
    configuration.block_style.md_padding_right != 'default' ? '--mdPaddingRight: ' ~ configuration.block_style.md_padding_right : '',
    configuration.block_style.md_padding_bottom != 'default' ? '--mdPaddingBottom: ' ~ configuration.block_style.md_padding_bottom : '',
    configuration.block_style.md_block_align != 'default' ? '--mdAlignSelf: ' ~ configuration.block_style.md_block_align : '',
    configuration.block_style.lg_padding_left != 'default' ? '--lgPaddingLeft: ' ~ configuration.block_style.lg_padding_left : '',
    configuration.block_style.lg_padding_top != 'default' ? '--lgPaddingTop: ' ~ configuration.block_style.lg_padding_top : '',
    configuration.block_style.lg_padding_right != 'default' ? '--lgPaddingRight: ' ~ configuration.block_style.lg_padding_right : '',
    configuration.block_style.lg_padding_bottom != 'default' ? '--lgPaddingBottom: ' ~ configuration.block_style.lg_padding_bottom : '',
    configuration.block_style.lg_block_align != 'default' ? '--lgAlignSelf: ' ~ configuration.block_style.lg_block_align : '',
    configuration.block_style.xl_padding_left != 'default' ? '--xlPaddingLeft: ' ~ configuration.block_style.xl_padding_left : '',
    configuration.block_style.xl_padding_top != 'default' ? '--xlPaddingTop: ' ~ configuration.block_style.xl_padding_top : '',
    configuration.block_style.xl_padding_right != 'default' ? '--xlPaddingRight: ' ~ configuration.block_style.xl_padding_right : '',
    configuration.block_style.xl_padding_bottom != 'default' ? '--xlPaddingBottom: ' ~ configuration.block_style.xl_padding_bottom : '',
    configuration.block_style.xl_block_align != 'default' ? '--xlAlignSelf: ' ~ configuration.block_style.xl_block_align : '',
    configuration.block_style.xxl_padding_left != 'default' ? '--xxlPaddingLeft: ' ~ configuration.block_style.xxl_padding_left : '',
    configuration.block_style.xxl_padding_top != 'default' ? '--xxlPaddingTop: ' ~ configuration.block_style.xxl_padding_top : '',
    configuration.block_style.xxl_padding_right != 'default' ? '--xxlPaddingRight: ' ~ configuration.block_style.xxl_padding_right : '',
    configuration.block_style.xxl_padding_bottom != 'default' ? '--xxlPaddingBottom: ' ~ configuration.block_style.xxl_padding_bottom : '',
    configuration.block_style.xxl_block_align != 'default' ? '--xxlAlignSelf: ' ~ configuration.block_style.xxl_block_align : '',
    configuration.block_style.animation_option == TRUE  and configuration.block_style.animation_duration ? '--animationDuration: ' ~ configuration.block_style.animation_duration : '',
    configuration.block_style.animation_option == TRUE  and configuration.block_style.animation_delay ? '--animationDelay: ' ~ configuration.block_style.animation_delay : '',
    configuration.block_style.animation_option == TRUE  and configuration.block_style.animation_count ? '--animationCount: ' ~ configuration.block_style.animation_count : '',
    configuration.block_style.animation_option == TRUE  and configuration.block_style.animation_function and configuration.block_style.animation_function != 'default' ? '--animationFunction: ' ~ configuration.block_style.animation_function : '',
    configuration.block_style.animation_option == TRUE  and configuration.block_style.animation_fill and configuration.block_style.animation_fill != 'default' ? '--animationFill: ' ~ configuration.block_style.animation_fill : '',
  ]|remove_empty
%}

<section {{ attributes.setAttribute('style', style_vars|join('; ')).setAttribute('id', block_id ).addClass(classes) }}  data-bs-ride="carousel">
  {{title_prefix }}
  <h3{{ title_attributes.addClass(title_classes) }}>{{ label }}</h3>
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
  <button class="carousel-control-prev" type="button" data-bs-target={{ '#' ~ block_id }} data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previo</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target={{ '#' ~ block_id  }} data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</section>