{#
/**
 * @file
 * Theme override for a menu block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: HTML attributes for the containing element.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: HTML attributes for the title element.
 * - content_attributes: HTML attributes for the content element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * Headings should be used on navigation menus that consistently appear on
 * multiple pages. When this menu block's label is configured to not be
 * displayed, it is automatically made invisible using the 'visually-hidden' CSS
 * class, which still keeps it visible for screen-readers and assistive
 * technology. Headings allow screen-reader and keyboard only users to navigate
 * to or skip the links.
 * See http://juicystudio.com/article/screen-readers-display-none.php and
 * http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 */
#}
{% set style_vars = [] %}
{# background color #}
{% if theme_settings.menu_main_bg_color != 'default' and theme_settings.menu_main_bg_color != 'customColor' %}
  {% if theme_settings.menu_main_bg_color_opacity == '1.0' %}
    {% set style_vars = style_vars|merge(['--backgroundColor: var(--' ~ theme_settings.menu_main_bg_color ~ ')']) %}
  {% else %}
    {% set style_vars = style_vars|merge(['--backgroundColor: rgb(var(--' ~ theme_settings.menu_main_bg_color ~ '-rgb), ' ~ theme_settings.menu_main_bg_color_opacity ~ ')']) %}
  {% endif %}  
{% endif %}

{% if theme_settings.menu_main_bg_color == 'customColor' %}
  {% if theme_settings.menu_main_bg_color_custom_opacity == 'FF' %}
    {% set style_vars = style_vars|merge(['--backgroundColor: ' ~ theme_settings.menu_main_bg_color_custom]) %}
  {% else %}
    {% set style_vars = style_vars|merge(['--backgroundColor: ' ~ theme_settings.menu_main_bg_color_custom ~ theme_settings.menu_main_bg_color_custom_opacity ]) %}
  {% endif %}  
{% endif %}

{% if theme_settings.menu_main_bg_color_hover != 'default' and theme_settings.menu_main_bg_color_hover != 'customColor' %}
  {% if theme_settings.menu_main_bg_color_opacity_hover == '1.0' %}
    {% set style_vars = style_vars|merge(['--backgroundColorHover: var(--' ~ theme_settings.menu_main_bg_color_hover ~ ')']) %}
  {% else %}
    {% set style_vars = style_vars|merge(['--backgroundColorHover: rgb(var(--' ~ theme_settings.menu_main_bg_color_hover ~ '-rgb), ' ~ theme_settings.menu_main_bg_color_opacity_hover ~ ')']) %}
  {% endif %}  
{% endif %}

{% if theme_settings.menu_main_bg_color_hover == 'customColor' %}
  {% if theme_settings.menu_main_bg_color_custom_opacity_hover == 'FF' %}
    {% set style_vars = style_vars|merge(['--backgroundColorHover: ' ~ theme_settings.menu_main_bg_color_custom_hover]) %}
  {% else %}
    {% set style_vars = style_vars|merge(['--backgroundColorHover: ' ~ theme_settings.menu_main_bg_color_custom_hover ~ theme_settings.menu_main_bg_color_custom_opacity_hover ]) %}
  {% endif %}  
{% endif %}

{# item color #}
{% if theme_settings.menu_main_item_color != 'default' and theme_settings.menu_main_item_color != 'customColor' %}
  {% if theme_settings.menu_main_item_color_opacity == '1.0' %}
    {% set style_vars = style_vars|merge(['--itemColor: var(--' ~ theme_settings.menu_main_item_color ~ ')']) %}
  {% else %}
    {% set style_vars = style_vars|merge(['--itemColor: rgb(var(--' ~ theme_settings.menu_main_item_color ~ '-rgb), ' ~ theme_settings.menu_main_item_color_opacity ~ ')']) %}
  {% endif %}  
{% endif %}

{% if theme_settings.menu_main_item_color == 'customColor' %}
  {% if theme_settings.menu_main_item_color_custom_opacity == 'FF' %}
    {% set style_vars = style_vars|merge(['--itemColor: ' ~ theme_settings.menu_main_item_color_custom]) %}
  {% else %}
    {% set style_vars = style_vars|merge(['--itemColor: ' ~ theme_settings.menu_main_item_color_custom ~ theme_settings.menu_main_item_color_custom_opacity ]) %}
  {% endif %}  
{% endif %}

{% if theme_settings.menu_main_item_color_hover != 'default' and theme_settings.menu_main_item_color_hover != 'customColor' %}
  {% if theme_settings.menu_main_item_color_opacity_hover == '1.0' %}
    {% set style_vars = style_vars|merge(['--itemColorHover: var(--' ~ theme_settings.menu_main_item_color_hover ~ ')']) %}
  {% else %}
    {% set style_vars = style_vars|merge(['--itemColorHover: rgb(var(--' ~ theme_settings.menu_main_item_color_hover ~ '-rgb), ' ~ theme_settings.menu_main_item_color_opacity_hover ~ ')']) %}
  {% endif %}  
{% endif %}

{% if theme_settings.menu_main_item_color_hover == 'customColor' %}
  {% if theme_settings.menu_main_item_color_custom_opacity_hover == 'FF' %}
    {% set style_vars = style_vars|merge(['--itemColorHover: ' ~ theme_settings.menu_main_item_color_custom_hover]) %}
  {% else %}
    {% set style_vars = style_vars|merge(['--itemColorHover: ' ~ theme_settings.menu_main_item_color_custom_hover ~ theme_settings.menu_main_item_color_custom_opacity_hover ]) %}
  {% endif %}  
{% endif %}

{# item background color #}
{% if theme_settings.menu_main_item_bg_color != 'default' and theme_settings.menu_main_item_bg_color != 'customColor' %}
  {% if theme_settings.menu_main_item_bg_color_opacity == '1.0' %}
    {% set style_vars = style_vars|merge(['--itemBackgroundColor: var(--' ~ theme_settings.menu_main_item_bg_color ~ ')']) %}
  {% else %}
    {% set style_vars = style_vars|merge(['--itemBackgroundColor: rgb(var(--' ~ theme_settings.menu_main_item_bg_color ~ '-rgb), ' ~ theme_settings.menu_main_item_bg_color_opacity ~ ')']) %}
  {% endif %}  
{% endif %}

{% if theme_settings.menu_main_item_bg_color == 'customColor' %}
  {% if theme_settings.menu_main_item_bg_color_custom_opacity == 'FF' %}
    {% set style_vars = style_vars|merge(['--itemBackgroundColor: ' ~ theme_settings.menu_main_item_bg_color_custom]) %}
  {% else %}
    {% set style_vars = style_vars|merge(['--itemBackgroundColor: ' ~ theme_settings.menu_main_item_bg_color_custom ~ theme_settings.menu_main_item_bg_color_custom_opacity ]) %}
  {% endif %}
{% endif %}

{% if theme_settings.menu_main_item_bg_color_hover != 'default' and theme_settings.menu_main_item_bg_color_hover != 'customColor' %}
  {% if theme_settings.menu_main_item_bg_color_opacity_hover == '1.0' %}
    {% set style_vars = style_vars|merge(['--itemBackgroundColorHover: var(--' ~ theme_settings.menu_main_item_bg_color_hover ~ ')']) %}
  {% else %}
    {% set style_vars = style_vars|merge(['--itemBackgroundColorHover: rgb(var(--' ~ theme_settings.menu_main_item_bg_color_hover ~ '-rgb), ' ~ theme_settings.menu_main_item_bg_color_opacity_hover ~ ')']) %}
  {% endif %}  
{% endif %}

{% if theme_settings.menu_main_item_bg_color_hover == 'customColor' %}
  {% if theme_settings.menu_main_item_bg_color_custom_opacity_hover == 'FF' %}
    {% set style_vars = style_vars|merge(['--itemBackgroundColorHover: ' ~ theme_settings.menu_main_item_bg_color_custom_hover]) %}
  {% else %}
    {% set style_vars = style_vars|merge(['--itemBackgroundColorHover: ' ~ theme_settings.menu_main_item_bg_color_custom_hover ~ theme_settings.menu_main_item_bg_color_custom_opacity_hover ]) %}
  {% endif %}  
{% endif %}

{%
  set style_vars = style_vars|merge([
    theme_settings.menu_main_bg_color == 'default' ? '--backgroundColor: transparent',
    theme_settings.menu_main_bg_color_hover == 'default' ? '--backgroundColorHover: var(--backgroundColor)',
    theme_settings.menu_main_item_color == 'default' ? '--itemColor: transparent',
    theme_settings.menu_main_item_color_hover == 'default' ? '--itemColorHover: var(--itemColor)',
    theme_settings.menu_main_item_bg_color == 'default' ? '--itemBackgroundColor: transparent',
    theme_settings.menu_main_item_bg_color_hover == 'default' ? '--itemBackgroundColorHover: var(--itemBackgroundColor)',
    theme_settings.menu_main_item_padding != '' ? '--itemPadding: ' ~ theme_settings.menu_main_item_padding,
  ]|remove_empty)
%}

{% set heading_id = attributes.id|clean_id ~ '-label' %}
<div {{ attributes.addClass(['block', 'menuMain', 'menuMain--' ~ theme_settings.menu_type])|without('role', 'aria-labelledby').setAttribute('style', style_vars|join('; ')) }}>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    {# Label. If not displayed, we still provide it for screen readers. #}
    {% if not configuration.label_display %}
      {% set title_attributes = title_attributes.addClass('visually-hidden') %}
    {% endif %}
    {{ title_prefix }}
    <h2{{ title_attributes.setAttribute('id', heading_id) }}>{{ configuration.label }}</h2>
    {{ title_suffix }}

    {# Menu. #}
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
