{% set bundle = bundle|capitalize %} 

{%
  set classes = [
    'block',
    'block' ~ bundle,
    'block' ~ bundle ~ '--' ~ view_mode,
    configuration.block_style.animation_option == TRUE and configuration.block_style.animation_trigger == 'on_scroll' ? 'wow' : '',
    configuration.block_style.animation_option == TRUE ? configuration.block_style.animation_type : '',
  ]|remove_empty
%}

{%
  set title_classes = [
    configuration.label_display == FALSE ? 'visually-hidden',
    'block' ~ bundle ~ '--' ~ view_mode ~ '__block-title',
  ]
%}

{%
  set style_vars = [
    configuration.block_style.background_color_select != 'default' and configuration.block_style.background_color_select != 'customColor' ? '--backgroundColor: var(--' ~ configuration.block_style.background_color_select ~ ')',
    configuration.block_style.background_color_select == 'customColor' ? '--backgroundColor: ' ~ configuration.block_style.background_color_custom ~ '80',
    configuration.block_style.link_color_select != 'default' and configuration.block_style.link_color_select != 'customColor' ? '--linkColor: var(--' ~ configuration.block_style.link_color_select ~ ')',
    configuration.block_style.link_color_select == 'customColor' ? '--linkColor: ' ~ configuration.block_style.link_color_custom,
    configuration.block_style.symbol_color_select != 'default' and configuration.block_style.symbol_color_select != 'customColor' ? '--symbolColor: var(--' ~ configuration.block_style.symbol_color_select ~ ')',
    configuration.block_style.symbol_color_select == 'customColor' ? '--symbolColor: ' ~ configuration.block_style.symbol_color_custom,
    configuration.block_style.text_color_select != 'default' and configuration.block_style.text_color_select != 'customColor' ? '--textColor: var(--' ~ configuration.block_style.text_color_select ~ ')',
    configuration.block_style.text_color_select == 'customColor' ? '--textColor: ' ~ configuration.block_style.text_color_custom,
    configuration.block_style.source_color_select != 'default' and configuration.block_style.source_color_select != 'customColor' ? '--sourceColor: var(--' ~ configuration.block_style.source_color_select ~ ')',
    configuration.block_style.source_color_select == 'customColor' ? '--sourceColor: ' ~ configuration.block_style.source_color_custom,
    configuration.block_style.text_align != 'default' ? '--textAlign: ' ~ configuration.block_style.text_align : '',
    configuration.block_style.sm_padding_left != 'default' ? '--smPaddingLeft: ' ~ configuration.block_style.sm_padding_left : '',
    configuration.block_style.sm_padding_top != 'default' ? '--smPaddingTop: ' ~ configuration.block_style.sm_padding_top : '',
    configuration.block_style.sm_padding_right != 'default' ? '--smPaddingRight: ' ~ configuration.block_style.sm_padding_right : '',
    configuration.block_style.sm_padding_bottom != 'default' ? '--smPaddingBottom: ' ~ configuration.block_style.sm_padding_bottom : '',
    configuration.block_style.sm_block_align != 'default' ? '--smAlignSelf: ' ~ configuration.block_style.sm_block_align : '',
    configuration.block_style.md_padding_left != 'default' ? '--mdPaddingLeft: ' ~ configuration.block_style.md_padding_left : '',
    configuration.block_style.md_padding_top != 'default' ? '--mdPaddingTop: ' ~ configuration.block_style.md_padding_top : '',
    configuration.block_style.md_padding_right != 'default' ? '--mdPaddingRight: ' ~ configuration.block_style.md_padding_right : '',
    configuration.block_style.md_padding_bottom != 'default' ? '--mdPaddingBottom: ' ~ configuration.block_style.md_padding_bottom : '',
    configuration.block_style.md_block_align != 'default' ? '--mdAlignSelf: ' ~ configuration.block_style.md_block_align : '',
    configuration.block_style.lg_padding_left != 'default' ? '--lgPaddingLeft: ' ~ configuration.block_style.lg_padding_left : '',
    configuration.block_style.lg_padding_top != 'default' ? '--lgPaddingTop: ' ~ configuration.block_style.lg_padding_top : '',
    configuration.block_style.lg_padding_right != 'default' ? '--lgPaddingRight: ' ~ configuration.block_style.lg_padding_right : '',
    configuration.block_style.lg_padding_bottom != 'default' ? '--lgPaddingBottom: ' ~ configuration.block_style.lg_padding_bottom : '',
    configuration.block_style.lg_block_align != 'default' ? '--lgAlignSelf: ' ~ configuration.block_style.lg_block_align : '',
    configuration.block_style.xl_padding_left != 'default' ? '--xlPaddingLeft: ' ~ configuration.block_style.xl_padding_left : '',
    configuration.block_style.xl_padding_top != 'default' ? '--xlPaddingTop: ' ~ configuration.block_style.xl_padding_top : '',
    configuration.block_style.xl_padding_right != 'default' ? '--xlPaddingRight: ' ~ configuration.block_style.xl_padding_right : '',
    configuration.block_style.xl_padding_bottom != 'default' ? '--xlPaddingBottom: ' ~ configuration.block_style.xl_padding_bottom : '',
    configuration.block_style.xl_block_align != 'default' ? '--xlAlignSelf: ' ~ configuration.block_style.xl_block_align : '',
    configuration.block_style.xxl_padding_left != 'default' ? '--xxlPaddingLeft: ' ~ configuration.block_style.xxl_padding_left : '',
    configuration.block_style.xxl_padding_top != 'default' ? '--xxlPaddingTop: ' ~ configuration.block_style.xxl_padding_top : '',
    configuration.block_style.xxl_padding_right != 'default' ? '--xxlPaddingRight: ' ~ configuration.block_style.xxl_padding_right : '',
    configuration.block_style.xxl_padding_bottom != 'default' ? '--xxlPaddingBottom: ' ~ configuration.block_style.xxl_padding_bottom : '',
    configuration.block_style.xxl_block_align != 'default' ? '--xxlAlignSelf: ' ~ configuration.block_style.xxl_block_align : '',
    configuration.block_style.animation_option == TRUE  and configuration.block_style.animation_duration ? '--animationDuration: ' ~ configuration.block_style.animation_duration : '',
    configuration.block_style.animation_option == TRUE  and configuration.block_style.animation_delay ? '--animationDelay: ' ~ configuration.block_style.animation_delay : '',
    configuration.block_style.animation_option == TRUE  and configuration.block_style.animation_count ? '--animationCount: ' ~ configuration.block_style.animation_count : '',
    configuration.block_style.animation_option == TRUE  and configuration.block_style.animation_function and configuration.block_style.animation_function != 'default' ? '--animationFunction: ' ~ configuration.block_style.animation_function : '',
    configuration.block_style.animation_option == TRUE  and configuration.block_style.animation_fill and configuration.block_style.animation_fill != 'default' ? '--animationFill: ' ~ configuration.block_style.animation_fill : '',
  ]|remove_empty
%}

<section {{ attributes.setAttribute('style', style_vars|join('; ')).setAttribute('id', 'blockQuote-' ~ id ).addClass(classes) }}>
  {{title_prefix }}
  <h3{{ title_attributes.addClass(title_classes) }}>{{ label }}</h3>
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</section>