{%
  set classes = [
    'block',
    'blockArticle',
    'blockArticle--teaser-image',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if configuration.label_display %}
    <h2{{ title_attributes.addClass('blockArticle--teaser-image__block-title') }}>{{ label }}</h2>
  {% else %}
    <h2{{ title_attributes.addClass('blockArticle--teaser-image__block-title', 'visually-hidden') }}>{{ configuration.label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>